$body-color: #9FB;
$container-color: #DDD;
$border-color: #F00;

$footer-size: 20px;

*{
  margin: 0px;
  padding: 0px;
}

html, body{
  height: 100%;
  background-color: $body-color;
}

#wrap{
  min-height: 100%;
}

#main{
  overflow: auto;
  padding-bottom: $footer-size;
}

#footer{
  background-color: $container-color;
  position: relative;
  margin-top: -$footer-size;
  height: $footer-size;
  clear: both;
}

#top{
  width: 80%;
  margin: 0px auto;
}

#bottom{
  width: 80%;
  margin: 0px auto;
}

#container{
  width: 100%;
  background-color: $container-color;
  border: 1px solid $border-color;
}

.hide{
  display: none;
}

.disabled{
  color: #CCC;
}

.bold{
  font-weight: bold;
}
