$footer-size: 20px;

*{
  margin: 0px;
  padding: 0px;
}

html, body{
  height: 100%;
}

#wrap{
  min-height: 100%;
}

#main{
  overflow: auto;
  padding-bottom: $footer-size;
}

#footer{
  background-color: #DDD;
  position: relative;
  margin-top: -$footer-size;
  height: $footer-size;
  clear: both;
}

.hide{
  display: none;
}

.disabled{
  color: #CCC;
}

.bold{
  font-weight: bold;
}
