!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}
    %script{:type => 'text/javascript', :src => 'js/jquery-2.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'js/test.js'}
    %title Weather Forecast
  %body
    %label{:for => 'province'} Province:
    #provinceContainer
      %select#province
        %option#none{:value => "none", :selected => true} Please Select
        %option#bc{:value => "bc"} British Columbia
        %option#mb{:value => "mb"} Manitoba
    #cityContainer
    #container
