!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}
    %script{:type => 'text/javascript', :src => 'js/weather.js'}
    %script{:type => 'text/javascript', :src => 'js/makeList.js'}
    %script{:type => 'text/javascript', :src => 'js/showCity.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/style.css'}
    %title Weather Forecast
  %body
    #wrap
      #main
        %label#provinceLabel{:for => 'province'} Province:
        #provinceContainer
          %select#province
            %option#pnone{:value => "none", :selected => true} Please Select
            %option#bc{:value => "bc"} British Columbia
            %option#mb{:value => "mb"} Manitoba
        %label#cityLabel.disabled{:for => 'city'} City:
        #cityContainer
          %select#city{:disabled => true}
            %option#cnone{:value => "none", :selected => true} Please Select
        #container
    #footer
      %span.bold
        ~ "Status: "
      %span#status Idle
