* {
  margin: 0px;
  padding: 0px; }

html, body {
  height: 100%;
  background-color: #9FB; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 20px; }

#footer {
  background-color: #DDD;
  position: relative;
  margin-top: -20px;
  height: 20px;
  clear: both; }

#top {
  width: 80%;
  margin: 0px auto; }

#bottom {
  width: 80%;
  margin: 0px auto; }

#container {
  width: 100%;
  background-color: #DDD;
  border: 1px solid #F00; }

.hide {
  display: none; }

.disabled {
  color: #CCC; }

.bold {
  font-weight: bold; }
